:root {
    --red: #8b0000;
    /* şəkildəki tünd qırmızı */
    --border: #e6e6e6;
    /* input border */
    --text: #111;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fff;
    color: var(--text);
    font-family: "Times New Roman", Times, serif;
    /* şəkildəki font */
}

.top {
    height: 90px;
    padding: 18px 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.brand {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: var(--red);
}

.menu {
    display: flex;
    gap: 28px;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
}

.wrap {
    min-height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    padding-top: 120px;

}

.panel {
    width: 520px;
    text-align: center;
}

.heading {
    margin: 0 0 26px 0;
    font-size: 22px;
    font-weight: 700;
    color: var(--red);
}

.form {
    width: 400px;

    margin: 0 auto;
    text-align: left;
}

.row {
    margin-bottom: 22px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid var(--border);
    outline: none;
    background: #fff;
    font-size: 16px;
    padding: 10px 12px;
}

input {
    height: 38px;
}

textarea {
    height: 92px;
    /* şəkildəki textarea hündürlüyü */
    resize: vertical;
}

select {
    height: 38px;
}

/* ===== BUTTON ===== */
.btn {
    margin-top: 8px;
    padding: 8px 14px;
    border: none;
    color: #fff;
    background: var(--red);
    border-radius: 12px;
    /* şəkildəki “pill” tipli düymə */
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    filter: brightness(1.05);
}