* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.header nav ul a {
    color: black;
}
.header nav ul {
    display: flex;
    gap: 3rem;
}

