* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #28293e;
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}