/* Css - Cascading style sheets

/* inline css
internal css
external css */

/* p{
    background-color: orange;
} */

/* p{
    background-color: burlywood;
} 
 */

.idea{
    border: 1px solid black
}
.word{
    background-color: red;
    border: 1px solid black
}

.yel{
    background-color: yellow;
}
.lorem{
    background-color: chartreuse;
    border: 1 px solid black
}